body{
    background-color: black;
}

.heading{
    color: white;
    font-family:Impact;
    text-align: center;
    position: absolute;
    bottom: 78%;
    left: 30%;
    font-size: 80px;
    font-weight: bolder;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}

.hoz{width: 100%;margin-left: auto;margin-right: auto;margin-top: 0%;border-color: red;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    font-size: 20px;
    float: left;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 96px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #333;
  }
  
  .hod{width: 100%;margin-left: auto;margin-right: auto;margin-top: 0%;border-color:grey;}
  

  .back_img{
    margin-top:0%;
  }

  .special{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 2%;
  }

  .img_spec{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 8%;
  }

  .title{
    position: absolute;
    top: 189%;
    font-family: sans-serif;
    -webkit-text-fill-color:white;
    -webkit-text-stroke-color:grey;
    -webkit-text-stroke-width: 1px;
    font-size: 30px;
    font-weight: bold;
}

  .info{
    float: left;
}

.contact{
    font-weight: bold;
    color: grey;
}

.adres{
    color:grey;
}

.id{
    color: grey;
}

.ph{
    color: grey;
}

.follow{
    margin-top: 1.5%;
    text-align: right;
    color:grey;
}

.hos{width: 100%;margin-left: auto;margin-right: auto;margin-top: 0.1%;border-color: grey;}
